<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Gestor</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Add Cessao</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" {% if user_perm != 'Gerente' %}href="#" {% endif %} >Add Item</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" {% if user_perm != 'Padrao' %}href="#" {% endif %} >Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Sair</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
