{% extends 'base.html' %}

{% block content %}


<div class="container">

    {% include '_flash_msg.html' %}
    <div class="text-center h1 text-success">Pagina de Registro</div>
    {% from "_formhelpers.html" import render_field %}
    <form method="post" enctype="multipart/form-data">
        {{form.csrf_token}}
        <div>
            {{ render_field(form.username, class="form-control") }}
            {{ render_field(form.password, class="form-control") }}
            {{ render_field(form.confirm, class="form-control") }}
        </div>
        <p><input type="submit" value="Register" class="btn btn-success mt-2"></p>
    </form>
</div>
{% endblock content %}